doctype html
html(lang='en' ng-app='angularReact')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    title=title

    each style in styles
      link(rel='stylesheet' href=style)

    each script in scripts
      script(src=script defer=true)

  body
    .container(ng-controller='AppController')

      .row
        .col-md-12
          .page-header
            h1 Angular-React #[small React components inside Angular]

      .row
        // Angular directive that mounts the React component.
        ng-react(class='col-sm-5 col-md-4' component='Clicker' min='1' max='42')
